In [1]:
import numpy as np

In [4]:
import pandas as pd
us_births = pd.read_csv('C:\\Users\\junio\\Desktop\\Numpy\\us_births.csv')
us_births.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [5]:
us_births_year = np.array(us_births['year'])
us_births_gender = np.array(us_births['gender'])
us_births = np.array(us_births['births'])
print("us_births_year\n",us_births_year,"\n")

us_births_year
 [1969 1969 1969 ... 2008 2008 2008]

In [6]:
print("us_births_gender\n",us_births_gender,"\n")

us_births_gender
 ['F' 'M' 'F' ... 'M' 'F' 'M']

In [7]:
print("us_births\n",us_births,"\n")

us_births
 [  4046   4440   4454 ... 165468 173215 181235]

In [8]:
print("maximum birth:", us_births.max())
print("minimum birth:", us_births.min())
# gender/year with maximum birth = M/2007
# gender/year with minimum birth = M/1977

maximum birth: 199622
minimum birth: 1

In [9]:
print("sum total:", us_births.sum())
# print("sum total_F_gender births:", us_births.sum,())
print("mean births:", us_births.mean())
# print("median births:   ", us_births.median())

sum total: 151774378
mean births: 9762.293561458802

In [10]:
data = us_births[(us_births["gender"] == "F")]
data
print("sum of F birth is>>", data["births"].sum())

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices